.header {
  height: 293px;
  font-family: 'Raleway', 'Arial';
  font-weight: normal;
  font-size: 18px;
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding-left: 50px;
  padding-right: 50px;
  font-weight: 400;
}

.link {
}

.header__links-list {
  display: flex;
  gap: 25px;
  list-style: circle;
}

.header__links-list li:first-child {
  list-style-type: none;
}

.header__logo-image {
  width: 148px;
  height: 105px;
}

.address {
  max-width: 240px;
  justify-self: end;
  font-family: 'Raleway', 'Arial';
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
}

.header__address {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.cover {
  min-height: 757px;
  background-image: url(../images/cover.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-bottom: 180px;
  position: relative;
  padding-top: 165px;
}

.overlay {
  position: absolute;
  background-color: rgb(0 0 0 / 0.6);
  inset: 0;
}

.main_h1 {
  text-transform: uppercase;
  position: relative;
  z-index: 1;
  font-family: 'Raleway', 'Arial';
  font-weight: bold;
  font-size: 100px;
  color: #FFFFFF;
  font-weight: 700;
  letter-spacing: 30px;
  line-height: 114.99999999999999%;
  max-width: 1000px;
  max-height: 385px;
  display: flex;
  flex-direction: column;
  margin-left: 50px;
  margin-right: 50px;
  justify-content: space-between; 
  
}

.cover__first-word {
  align-self: start;
}

.cover__second-word {
  align-self: center;
}

.cover__fird-word {
  align-self: end;

}

.cover__description {
  display: flex;
}

.main_description {
  text-transform: uppercase;
}

.make_deal_button {
  text-transform: uppercase;
  position: relative;
  z-index: 10;
}

.lots {
  width: 1052px;
  height: 723px;
  margin-bottom: 120px;
}

.lots_h1 {
}

.lots_card_link {
}

.lots_card_upper_text {
  text-transform: uppercase;
}

.lots_card_lower_text {

}

.about {
  width: 1052px;
  height: 595px;
  margin-bottom: 180px;
}

.about_logo {
}

.about_h1 {
  text-transform: uppercase;
}

.about_description {
}

.footer {
  height: 180px;
}

.footer_link {
}

.social {
}

