.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding-top: 92px;
  padding-right: 50px;
  padding-bottom: 96px;
  padding-left: 50px;
  font-family: "Raleway", "Arial", sans-serif;
  font-weight: normal;
  font-size: 18px;
}

.header__links-list {
  display: flex;
  gap: 32px;
  list-style: circle;
}

.link-active {
  text-decoration: none;
}

.header__links-list li:first-child {
  list-style-type: none;
}

.header__logo-image {
  width: 148px;
  height: 105px;
}

.address {
  max-width: 240px;
  font-family: "Raleway", "Arial", sans-serif;
  font-weight: normal;
  font-size: 18px;
  font-style: normal;
  line-height: 24.3px;
}

.header__address {
  display: flex;
  flex-direction: column;
  justify-self: end;
  align-items: flex-start;
}

.cover {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 757px;
  margin-bottom: 180px;
  padding: 0 50px 50px 50px;
  background-image: url(../images/cover.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.overlay {
  position: absolute;
  inset: 0;
  background-color: rgb(0 0 0 / 0.6);
}

.cover__title {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 1000px;
  margin-top: 165px;
  color: #ffffff;
  font-family: "Raleway", "Arial", sans-serif;
  font-weight: bold;
  font-size: 100px;
  line-height: 114.99999999999999%;
  letter-spacing: 30px;
  text-transform: uppercase;
}

.aligned-text_left {
  align-self: start;
  margin-bottom: 20px;
}

.aligned-text_middle {
  align-self: center;
  margin-bottom: 20px;
}

.aligned-text_right {
  align-self: end;
}

.no-letter-spacing {
  letter-spacing: 0px;
}

.cover__description {
  z-index: 10;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #ffffff;
  font-family: "Raleway", "Arial", sans-serif;
  font-weight: normal;
  font-size: 22px;
  text-transform: uppercase;
  word-spacing: 20px;
}

.cover__description-text {
  text-transform: uppercase;
}

.cover__description-text-spacing-middle {
  word-spacing: 18px;
}

.cover__description-text-spacing-right {
  word-spacing: 18px;
}

.bet-button {
  position: relative;
  z-index: 10;
  width: 256px;
  height: 51px;
  border-width: 1px;
  border-style: solid;
  border-color: #ffffff;
  color: #ffffff;
  font-family: "Raleway", "Arial", sans-serif;
  font-weight: 500;
  font-size: 22px;
  text-transform: uppercase;
  background: transparent;
}

.lots {
  display: flex;
  flex-direction: column;
  margin-bottom: 120px;
  padding-right: 24px;
  padding-left: 24px;
  font-family: "Raleway", "Arial", sans-serif;
}

.lots__heading {
  margin-bottom: 27px;
  padding-left: 40px;
  font-weight: bold;
  font-size: 40px;
  text-transform: uppercase;
}

.lots__card-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  gap: 25px;
  margin-bottom: 30px;
  list-style-type: none;
}

.card {
  width: 334px;
  min-height: 596px;
  background-position: center;
  background-size: cover;
  position: relative;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
}

.card-link {
  height: 100%;
  text-decoration: none;
}

.lots_card_description {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 48px 40px;
}

.card__title {
  color: #ffffff;
  font-weight: bold;
  font-size: 22px;
  text-decoration: underline;
  text-transform: uppercase;
}

.card__text {
  color: #ffffff;
  font-weight: normal;
  font-size: 20px;
  line-height: 120%;
}

.lots__look-more-link {
  max-width: fit-content;
  margin-left: 40px;
  font-weight: normal;
  font-size: 20px;
  text-transform: lowercase;
}

.about {
  display: grid;
  grid-template-columns: 334px auto;
  grid-template-rows: auto auto;
  grid-column-gap: 25px;
  grid-row-gap: 5px;
  margin-bottom: 180px;
  padding-right: 24px;
  padding-left: 24px;
}

.about__logo {
  display: flex;
  grid-column: 1;
  grid-row: 1;
  justify-self: center;
  justify-content: center;
  align-items: center;
  align-self: center;
  width: 240px;
  height: 240px;
  margin-top: 35px;
  border-radius: 50%;
  background-color: black;
}

.about__logo-image {
  width: 148px;
  height: 114px;
}

.about__title {
  grid-column: 2;
  grid-row: 1;
  justify-self: start;
  align-self: center;
  margin-top: 35px;
  font-family: "Raleway", "Arial", sans-serif;
  font-weight: bold;
  font-size: 40px;
  text-transform: uppercase;
}

.about_description {
  display: flex;
  flex-direction: column;
  grid-column: 2;
  grid-row: 2;
  gap: 24px;
  font-family: "Raleway", "Arial", sans-serif;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
}

.footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  padding: 0px 50px 82px;
  font-family: "Raleway", "Arial", sans-serif;
  font-weight: normal;
  font-size: 18px;
}

.footer__address {
  grid-column: 1;
  grid-row: 1;
  justify-self: start;
  align-self: start;
}

.footer__menu-list {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  list-style-type: none;
}

.footer__social-list {
  display: flex;
  justify-content: end;
  align-items: start;
  gap: 48px;
  list-style-type: none;
}

.footer__social-icon {
  width: 48px;
  height: 48px;
}
